<div class="main-content">
    <form>
      <div>
        <label>
      Enter name:
    </label>
    <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    <br>
        <label>
      Enter email id:
    </label>
    <input type="email" [(ngModel)]="emailId" [ngModelOptions]="{standalone: true}">
    <br>
        <label>
      Enter password:
    </label>
    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    <br>
        <label>
      Re enter password:
    </label>
    <input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
    </div>
        <button (click)="submit()">SUBMIT</button>
    </form>
</div>