<div>
    <h1>Ramona</h1>
</div>
<div class="field">
<input type="email" placeholder="username" [(ngModel)]="adminEmail">
 <br>
<input type="password" placeholder="password" [(ngModel)]="adminPassword">
</div>
<div class="button">
<button (click)="login()">Login</button>
<br>
    <a (click)="sendToCreateAccount()">Create new account</a>
</div>