<div class="main-content">
    <form>

        <label>
      Name of expense:
      <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </label>

        <label>
      Total Price:
      <input type="text" [(ngModel)]="totalPrice" [ngModelOptions]="{standalone: true}">
    </label>

        <label>
      Last Name:
      <input *ngIf="imageUrl == '' && !imageData['fileData']" type="file" accept="image/x-png,image/gif,image/jpeg" (change)="changeOnFile($event)">
      <img *ngIf="imageData['fileData']"  src="data:image/png;base64,{{imageData['fileData']}}" style="height:200px;height: 200px">
      <img *ngIf="imageUrl != ''" [src]="global.imageUrl + this.imageUrl" style="height:200px;height: 200px">
      <button (click)="removeImage()" >Remove image</button>
    </label>

        <button (click)="submit()">SUBMIT</button>
    </form>
</div>