<div class="main-content">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Type here for search" [(ngModel)]="typAheadValue" (input)="search()" [ngModelOptions]="{standalone: true}">
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <div class="mat-elevation-28">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th (click)="sort('name')">Name<i *ngIf="sortObj.field == 'name'" [ngClass]="sortObj.flag?'fa fa-arrow-up':'fa fa-arrow-down'" class=""></i></th>
                    <th (click)="sort('total_price')">Price<i *ngIf="sortObj.field == 'total_price'" [ngClass]="sortObj.flag?'fa fa-arrow-up':'fa fa-arrow-down'" class=""></i></th>
                    <th (click)="sort('date_time')">Date<i *ngIf="sortObj.field == 'date_time'" [ngClass]="sortObj.flag?'fa fa-arrow-up':'fa fa-arrow-down'" class=""></i></th>
                    <th>Image of item</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let each of expenseData; let i = index">
                    <td>{{each.name}}</td>
                    <td>{{each.total_price}}</td>
                    <td>{{each.date_time | date:'MMM d, y, h:mm:ss a'}}</td>
                    <td><img onError="this.onerror=null;this.src='/assets/img/dddddd.png';" [src]="global.imageUrl+each.image_url" style="height: 100px; width: 100px;"></td>
                    <td (click)="updateExpense(each)"><i class="fa fa-pencil"></i></td>
                    <td (click)="deleteExpense(each, i)"><i class="fa fa-trash-o"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>